@font-face {
    font-family: 'CoFo Holz VF';
    src: local('CoFo Holz VF'), url(C:\Users\karma\Desktop\www\font\cofoholzvf.ttf) format('ttf'),
    url(C:\Users\karma\Desktop\www\font\cofoholzvf.woff2) format('woff2'),
    url(C:\Users\karma\Desktop\www\font\cofoholzvf.woff) format('woff'),
    url(C:\Users\karma\Desktop\www\font\cofoholzvf.eot) format('eot');
}

* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
body{
    font-family: 'CoFo Holz VF', sans-serif;
    font-weight: 400;
}
a{
    text-decoration: none;
    color:black;
}
ul{
    list-style: none;
}
img {
    max-width: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    z-index: 1;
}
header{
    position: fixed;
    top: 0;
    background-color: white ;
}
header nav{
    float: left;
    width: 100%;
}
header nav ul.first{
    font-size: medium;
    width: 40%;
    height: auto;
}
header nav .favorite{
    float:right;
    width: 35px;
    margin-top: 19px;
    margin-right: 15px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 23px;
    margin-top: 25px;
    margin-bottom: 25px;
}
header nav ul.second li{
    left: 16px;
    right: 23px;
    font-size: 22px;
    letter-spacing: 2px;
}
header nav ul.second li a sup.small{
    letter-spacing:0px;
    font-size: 12px;
    margin-right: 9px;
}
header nav ul li.active{
    font-weight: bold;
}
header nav ul li:not(.active) a:hover{
    color:red;
    transition: all 500ms ease;
}
header nav ul div.arrow{
    width:calc(100% - 280px);
}
header nav ul div.arrow div{
    content: '';
    display: block;
    height: 0.5px;
    width: all;
    background-color: black;
    position: relative;
    top: 13px;
}
header nav ul div.arrow div::after{
    content: '';
    display: block;
    height: 0.5px;
    width: 4px;
    background-color: black;
    position: absolute;
    top: 1.5px;
    right: -0.5px;
    transform: rotate(-45deg);
}
header nav ul div.arrow div::before{
    content: '';
    display: block;
    height: 0.5px;
    width: 4px;
    background-color: black;
    position: absolute;
    top: -1px;
    right: -0.5px;
    transform: rotate(45deg);
}
header nav ul div.arrow-2{
    position: absolute;
    width: 63px;
    right: 8px;
}
header nav ul div.arrow-2 div{
    content: '';
    display: block;
    height: 0.5px;
    width: all;
    background-color: black;
    position: relative;
    top: 16px;
}
header nav ul div.arrow-2 div::after{
    content: '';
    display: block;
    height: 0.5px;
    width: 4px;
    background-color: black;
    position: absolute;
    top: 1px;
    right: -0.5px;
    transform: rotate(-45deg);
}
header nav ul div.arrow-2 div::before{
    content: '';
    display: block;
    height: 0.5px;
    width: 4px;
    background-color: black;
    position: absolute;
    top: -1.5px;
    right: -0.5px;
    transform: rotate(45deg);
}
header nav div.line{
    content: '';
    display: block;
    margin-bottom: 0;
    height: 0.5px;
    width: all;
    background-color: black;
}
.burger{
    width: 50px;
}
.bar{
    display: block;
    width: 30px;
    height: 1.5px;
    background-color: black;
    margin-bottom: 5px;
}
.burgerMenu{
    margin-top: 23.31px;
    justify-content: left;
    display: none;
}
.popup{
    margin: 0;
}
@media screen and (max-width: 1000px) {
    .burgerMenu{display: flex;}
    .MainMenu{display: none;}
}
@media screen and (max-width: 400px) {
    .line1{display: none;}
    .endline{display: none;}
    .actual{display: none;}
    .contact{width: 100%;}
}
main{
    position: relative;
    margin-top: 145.67px;
    margin-left: 16px;
    margin-right: 23px;
    z-index: 0;
}
main.gallery{
    margin-left: 0;
    margin-right: 0;
    position: relative;
}
main h1{
    font-size: xx-large;
    font-weight: 500;
    padding-bottom: 28px;
    padding-top: 10px;
}
main h2{
    margin-left: 5px;
    padding-bottom: 12px;
}
main p{
    font-size: small;
    padding-bottom: 40px;
    width: 60%;
}
main ul{
    display: flex;
    justify-content: space-between;
    width: 70%;
    float: left;
}
main ul li{
    font-size: small;
    padding-right: 20px;
    padding-bottom: 40px;
}   
main ul li:not(.active) a:hover{
    color:red;
    transition: all 500ms ease;
}
.gallery{
    width: 100%;
}
.cont{
    display: flex;
    position: relative;
}
.cont section:not(.endline){
    margin-right: 10px;
    width: 90%;
}
.gallery_item{
    width: 100%;
    box-shadow:0px 0px 10px 0px gray;
}
.endline{
    width: 90%;
}
.author{
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}
.series{
    text-transform: uppercase;
    text-align: left;
}
.series sup{
    text-transform:lowercase;
}
.atribute{
    text-align: right;
}
.year{
    text-align: right;
    margin-bottom: 30px;
}
.item p{
    padding: 0;
    width: 100%;
}
.line1{
    margin-top: 160px;
}
.heart{
    position: absolute;
    width: 12%;
    right: 2.75%;
    top: 2.19%;
    opacity: 0%;
}
.item:hover .heart{
    opacity: 100%;
}
.cont section{
    position: relative;
}
.example{
    position: relative;
}
.overflow{
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 10px;
}
.art{
    display: flex;
    min-width: 125%;
    height: auto;
}
.art div{
    width: auto;
    height: 50dvh;
    padding: 0;
    padding-right: 1%;
}
.art div img{
    height: 100%;
    width: auto;
}
.auth{
    position: relative;
    padding: 0;
    width: 50%;
    height: auto;
    text-transform: uppercase;
    font-size:medium;
    font-weight: 500;
    letter-spacing: 1px;
}
.spisok{
    position: relative;
    width: 100%;
    height: 46px;
    overflow: hidden;
    overflow-x: scroll;
}
.spisok li{
    padding-top: 10px;
    padding-bottom: 20px;
}
.ul a{
    font-size:small;
    font-weight: 500;
}
main .Line{
    margin-top: 10px;
    display: block;
    height: 1.5px;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}
.ecspo{
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    min-height: 100%;
}
iframe{
    width: 100%;
    height: 60dvh;
}